<div id="content_banner_box">
	<h2 id="banner">Orders</h2>
</div>
	
<div id="sub_content_box" data-ng-controller="create_orderCtlr">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!orders">Manage Orders</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Add Order</h3>
			</div>
			<div id="details_content_box">
				<form id="details_form" name="order_form" novalidate>
					<div id="loader" style="display:none"></div>
					<div id="response_box" style="display:none"></div>
					<div id="form_header">
						<div>
							<a href="#!edit_order/{{ordNo}}" class="editorder_btn" data-ng-show="showEditBtn">View Order</a>
						</div>
						
						<div class="form_input_col">
							<div class="form_input_row">
								<label>Station:</label><input type="text" class="txt_box" value="{{::station}}" readonly />
							</div>
							<div class="form_input_row">
								<label>To:</label>
								<select class="select_box" data-ng-model="to" data-ng-change="changeTo()" required>
									<option value="">Choose Delivery Point</option>
									<option value="Table">Table</option>
									<option value="Room">Room</option>
									<option value="Go">Go</option>
								</select>
								<!--<select class="select_box item" data-ng-options="item.value as item.label for item in items track by item.value" name="item[]" data-ng-model="item" required>
											<option value="">Choose Item</option>
										</select>-->
							</div>
							<div class="form_input_row" data-ng-show="show">
								<label>{{to}}:</label>
								<select class="select_box" data-ng-options="delvPnt.pntName as delvPnt.pntName for delvPnt in delvPnts" data-ng-model="delv_point" ng-change="q()" data-ng-required="show">
									<option value="">Choose {{to}}</option>
								</select>						
							</div>
						</div>
					</div>
					<div id="form_content">
						<div id="grid_view">
							<div id="grid_view_header">
								<div class="grid_view_header_cell">
									<span>#</span>
								</div>
								<div class="grid_view_header_cell pdt_cell">
									<span>Item</span>
								</div>
								<div class="grid_view_header_cell">
									<span>Qty</span>
								</div>
								<div class="grid_view_header_cell">
									<span>Rate</span>
								</div>
								<div class="grid_view_header_cell">
									<span>Total</span>
								</div>
								<div class="grid_view_header_cell action_cell">
									<span><button type="button" class="add_row_btn" data-ng-click="addRow()"><i class="fa fa-plus"></i></button></span>
								</div>
							</div>
							
							<div id="grid_view_content" class="animate_repeat" data-ng-repeat="row in rows">
								<div class="grid_view_content_cell">
									<span>{{$index +1}}</span>
								</div>
								<div class="grid_view_content_cell pdt_cell">
									<span>
										<select class="select_box item" data-ng-options="item.label for item in items track by item.value" data-ng-model="row.item" data-ng-change="itemRate(row.item,$index)" required>
											<option value="">Choose Item</option>
										</select>
									</span>
								</div>
								<div class="grid_view_content_cell">
									<span><input type="number" class="txt_box qty_input" data-ng-model="$parent.qty[row.ID]" data-ng-blur="computeSubTotal(qty[row.ID],row.item,$index)" required /></span>
								</div>
								<div class="grid_view_content_cell">
									<span><input type="text" class="txt_box rate_input" data-ng-model="$parent.rate[row.ID]" readonly /></span>
								</div>
								<div class="grid_view_content_cell">
									<span><input type="text" class="txt_box total_input" readonly /></span>
								</div>
								<div class="grid_view_content_cell action_cell">
									<span data-ng-click="removeRow($index)"><i class="fa fa-close"></i></span>
								</div>
							</div>
							
							<div id="grid_view_footer">
								<span>Total</span><span>{{getGrandTotal()}}</span>
							</div>
						</div>
					</div>
					<div id="form_footer">
						<div>
							<input type="button" class="save_btn" value="Save" data-ng-click="validate()" data-ng-disabled="order_form.$invalid" />
							<input type="button" class="cancel_btn" value="Cancel" onclick="history.back()"/>
						</div>
						<span data-ng-show="order_form.$dirty && order_form.$invalid"><pre class="form_error_note">*Highlited fields are required</pre></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
