<div id="content_banner_box">
	<h2 id="banner">Dashboard</h2>
</div>
	
<div id="sub_content_box">
	<div id="view_content">
		<div id="analysis_box">
			<!--<div id="small_box_wrapper_top">-->
				<div class="analysis_small_box">
					<h3 class="analysis_small_box_header">Total Oders:</h3>
					<div class="analysis_small_box_footer">
						<span class="analysis_figure">5</span>
						<a href="#" title="Click to view Orders"><span class="analysis_link_arrow"><i class="fa fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
			<!--</div>-->
			<!--<div id="small_box_wrapper_btm">-->
				<div class="analysis_small_box">
					<h3 class="analysis_small_box_header">Pending Oders:</h3>
					<div class="analysis_small_box_footer">
						<span class="analysis_figure">2</span>
						<a href="#" title="Click to view Pending Orders"><span class="analysis_link_arrow"><i class="fa fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
				<div class="analysis_small_box">
					<h3 class="analysis_small_box_header">Delivered Oders:</h3>
					<div class="analysis_small_box_footer">
						<span class="analysis_figure">3</span>
						<a href="#" title="Click to view Delivered Orders"><span class="analysis_link_arrow"><i class="fa fa-arrow-circle-right"></i></span></a>
					</div>
				</div>
			<!--</div>-->
		</div>
		
		<div id="home_msg_box">
			Message goes here
		</div>
	</div>

</div>