<div id="content_banner_box">
	<h2 id="banner">Requisitions</h2>
</div>
	
<div id="sub_content_box" data-ng-controller="edit_requisitionCtlr">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!requisitions">Manage Requisitions</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Edit Requisition</h3>
			</div>
			<div id="details_content_box">
				<form id="details_form" name="requisition_form" novalidate>
					<div id="loader" style="display:none"></div>
					<div id="response_box" style="display:none"></div>
					<div id="form_header">
						<div>
							
						</div>
						
						<div class="form_input_col">
							<div class="form_input_row">
								<label>Station:</label><input type="text" class="txt_box" value="{{::station}}" readonly />
							</div>
							<div class="form_input_row">
								<label>For:</label><input type="text" class="txt_box" data-ng-model="category" readonly />
							</div>
						</div>
					</div>
					<div id="form_content">
						<div id="grid_view">
							<div id="grid_view_header">
								<div class="grid_view_header_cell">
									<span>#</span>
								</div>
								<div class="grid_view_header_cell pdt_cell">
									<span>Item</span>
								</div>
								<div class="grid_view_header_cell">
									<span>Qty</span>
								</div>
								<div ng-if="showAmounts" class="grid_view_header_cell">
									<span>Rate</span>
								</div>
								<div ng-if="showAmounts" class="grid_view_header_cell">
									<span>Total</span>
								</div>
								<div ng-if="showAmounts" class="grid_view_header_cell">
									<span>Purchase Amount</span>
								</div>
								<div class="grid_view_header_cell action_cell">
									<span><button type="button" class="add_row_btn" data-ng-click="addRow()"><i class="fa fa-plus"></i></button></span>
								</div>
							</div>
							
							<div id="grid_view_content" data-ng-repeat="request_item in requisition_items"  ng-class="{item_deleted: request_item.deleted}"> 
								<div class="grid_view_content_cell">
									<span>{{$index+1}}</span>
								</div>
								<div class="grid_view_content_cell pdt_cell">
									<span><input type="text" class="txt_box" value="{{::request_item.item}}" readonly />
								</div>
								<div class="grid_view_content_cell">
									<span><input type="text" class="txt_box num_field" value="{{request_item.qty}}"/></span>
								</div>
								<div ng-if="showAmounts" class="grid_view_content_cell">
									<span><input type="text" class="txt_box curr_field" value="{{::request_item.rate | number:0}}" readonly /></span>
								</div>
								<div ng-if="showAmounts" class="grid_view_content_cell">
									<span><input type="text" class="txt_box curr_field" value="{{::request_item.total | number:0}}" readonly /></span>
								</div>
								<div ng-if="showAmounts" class="grid_view_content_cell">
									<span><input type="text" class="txt_box " value="{{request_item.purchaseAmount | number:0}}" readonly /></span>
								</div>
								<div class="grid_view_content_cell action_cell">
									<span data-ng-click="deleteLineItem(request_item.Details_No, $index)"><i ng-class="(!request_item.deleted)? 'fa fa-trash' : 'fa fa-undo'"></i></span>
								</div>
							</div>
							
							<div id="grid_view_content" data-ng-repeat="row in rows track by $index" ng-if="showEditDetails">
								<div class="grid_view_content_cell">
									<span>{{row.ID}}</span>
								</div>
								<div class="grid_view_content_cell pdt_cell">
									<span>
										<select class="select_box" data-ng-options="item.label for item in items | filter:category" data-ng-model="row.item" data-ng-change="reqChangeItem(row, $index)" required>
											<option value="">Choose Item</option>
										</select>
									</span>
								</div>
								<div class="grid_view_content_cell">
									<span><input type="number" class="txt_box qty_input" data-ng-model="row.qty" data-ng-blur="reqComputeSubTotal(row,$index)" ng-readonly="row.item === undefined" required /></span>
								</div>
								<div  ng-if="showAmounts" class="grid_view_content_cell">
									<span><input type="text" class="txt_box rate_input" data-ng-model="row.item.rate" readonly /></span>
								</div>
								<div  ng-if="showAmounts" class="grid_view_content_cell">
									<span><input type="text" class="txt_box total_input" data-ng-model="row.total" readonly /></span>
								</div>
								<div ng-if="showAmounts" class="grid_view_content_cell">
									<span><input type="text" class="txt_box " data-ng-model="row.purchaseAmount" data-ng-blur="updPurchAmnt(row, $index)" ng-readonly="row.item === undefined"/></span>
								</div>
								<div class="grid_view_content_cell action_cell">
									<span data-ng-click="removeRow($index)"><i class="fa fa-close"></i></span>
								</div>
							</div>
							
							<div id="grid_view_footer">
								<span>Total</span><span>{{getGrandTotal}}</span>
							</div>
						</div>
					</div>
					<div id="form_footer">
						<div>
							<input type="button" class="save_btn" value="Submit" data-ng-click="validate()" data-ng-disabled="requisition_form.$invalid" />
							<input type="button" class="cancel_btn" value="Cancel" onclick="history.back()" />
						</div>
						<span data-ng-show="requisition_form.$dirty && requisition_form.$invalid"><pre class="form_error_note">*Highlited fields are required</pre></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>