<div id="content_banner_box">
	<h2 id="banner">Orders</h2>
</div>
	
<div id="sub_content_box" data-ng-controller="edit_orderCtlr">
	<div id="view_content">
	<div id="details_link_box">
		<a href="#!orders">Manage Orders</a>
	</div>
	<div id="details_box">	
		<div id="details_header_box">
			<h3>Edit Order</h3>
		</div>
		<div id="details_content_box">
			<form id="details_form" name="order_form" novalidate>
				<div id="loader" style="display:none"></div>
				<div id="response_box" style="display:none"></div>
				<div id="form_header">
					<div>
						<a href="#!order_payments/{{::ordNo}}" class="pymt_btn">Payments</a>
					</div>

					<div id="order_status">
						<p id="late_order_label" style="display:none">Order is late, Deliver Now!!</p>
						<div id="order_timer_box">
							<div id="order_time_label">Order Timer</div>
							<span id="order_time">{{ordertime}}</span>
						</div>
					</div>
					
					<div class="form_input_col">
						<div class="form_input_row">
							<label>Station:</label><input type="text" class="txt_box" value="{{::station}}" readonly />
						</div>
						<div class="form_input_row">
							<label>To:</label><input type="text" class="txt_box" value="{{::to}}" readonly />
						</div>
						<div class="form_input_row">
							<label style="width:12em">Delivery Point:</label><input type="text" class="txt_box" value="{{::delv_point}}" readonly />
						</div>
						<div class="deliver_btn_box" ng-if="showDeliverBtn">
							<button data-ng-click="deliver()">Deliver Now</button>
						</div>
						<div class="form_input_row" ng-if="showVerify">
						<label>Verify:</label><select class="select_box"><option>Not Verified</option><option>Verified</option></select>
						</div>
					</div>
				</div>
				<div id="form_content">
					<div id="grid_view">
						<div id="grid_view_header">
							<div class="grid_view_header_cell">
								<span>#</span>
							</div>
							<div class="grid_view_header_cell pdt_cell">
								<span>Item</span>
							</div>
							<div class="grid_view_header_cell">
								<span>Qty</span>
							</div>
							<div class="grid_view_header_cell">
								<span>Rate</span>
							</div>
							<div class="grid_view_header_cell">
								<span>Total</span>
							</div>
							<div class="grid_view_header_cell action_cell">
								<span><button type="button" class="add_row_btn" data-ng-click="addRow()"><i class="fa fa-plus"></i></button></span>
							</div>
						</div>
						
						<div id="grid_view_content" data-ng-repeat="order_item in order_items" ng-class="{item_deleted: order_item.deleted}">
							<div class="grid_view_content_cell">
								<span>{{$index+1}}</span>
							</div>
							<div class="grid_view_content_cell pdt_cell">
								<span><input type="text" class="txt_box" value="{{::order_item.item}}" readonly /></span>
							</div>
							<div class="grid_view_content_cell">
								<span><input type="text" class="txt_box" value="{{::order_item.qty}}" readonly /></span>
							</div>
							<div class="grid_view_content_cell">
								<span><input type="text" class="txt_box" value="{{::order_item.rate | number:0}}" readonly /></span>
							</div>
							<div class="grid_view_content_cell">
								<span><input type="text" class="txt_box" value="{{::order_item.total | number:0}}" readonly /></span>
							</div>
							<div class="grid_view_content_cell action_cell">
								<span data-ng-click="deleteLineItem(order_item.Details_No, $index)"><i ng-class="(!order_item.deleted)? 'fa fa-trash' : 'fa fa-undo'"></i></span><!--class="icon"-->
							</div>
						</div>
						<div id="grid_view_content" class="animate_repeat" data-ng-repeat="row in rows" ng-if="showEditDetails">
							<div class="grid_view_content_cell">
								<span>{{row.ID}}</span>
							</div>
							<div class="grid_view_content_cell pdt_cell">
								<span>
									<select class="select_box item" data-ng-options="item.label for item in items track by item.value" data-ng-model="row.item" data-ng-change="changeItem(row,$index)" required>
										<option value="">Choose Item</option>
									</select>
								</span>
							</div>
							<div class="grid_view_content_cell">
								<span><input type="number" class="txt_box qty_input" data-ng-model="row.qty" data-ng-blur="computeSubTotal(row,$index)" ng-readonly="row.item === undefined" required /></span>
							</div>
							<div class="grid_view_content_cell">
								<span><input type="text" class="txt_box rate_input" data-ng-model="row.item.rate" readonly /></span>
							</div>
							<div class="grid_view_content_cell">
								<span><input type="text" class="txt_box total_input" data-ng-model="row.total" readonly /></span>
							</div>
							<div class="grid_view_content_cell action_cell">
								<span data-ng-click="removeRow($index)"><i class="fa fa-close"></i></span>
							</div>
						</div>
						
						<div id="grid_view_footer">
							<span>Total</span><span>{{getGrandTotal}}</span>
						</div>
					</div>
				</div>
				<div id="form_footer">
					<div>
						<input type="button" class="save_btn" value="Save" data-ng-click="validate()" data-ng-disabled="order_form.$invalid"/><!-- || !order_form.$dirty && order_form.$valid"/>-->
						<input type="button" class="cancel_btn" value="Cancel" onclick="history.back()"/>
					</div>
					<span data-ng-show="order_form.$dirty && order_form.$invalid"><pre class="form_error_note">*Highlited fields are required</pre></span>
				</div>
			</form>
		</div>
	</div>
	</div>
</div>