<div id="content_banner_box">
	<h2 id="banner">Extras</h2>
</div>

<div id="sub_content_box">
	<div id="view_content">
		<div id="ac_link_box">
			<div class="ac_link_row">
				<a href="#!extras/Offers" class="ac_link">Offers</a>
				<!--<a href="#!extras/spoilt" class="ac_link">Items Spoilt</a>
				<a href="#" class="ac_link">Summary Report...</a>-->
			</div>
			<div class="ac_link_row">
				<a href="#!extras/spoilt" class="ac_link">Items Spoilt</a>
				<!--<a href="#!products" class="ac_link" ng-if="isAdmin">Manage Products</a>
				<a href="#" class="ac_link" ng-if="isAdmin">Manage Sections</a>
				<a href="#" class="ac_link">Change Password</a>-->
			</div>
		</div>
	</div>
</div>