<div id="content_banner_box">
	<h2 id="banner">Orders</h2>
</div>
	
<div id="sub_content_box">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!create_order">Add Order</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box" style="display: flex; justify-content: space-between">
				<h3>Manage Orders</h3>
				<div id="filter_box" style="display: flex; flex-direction: column">
					<button id="applyFilter_btn" style="float: right" ng-click="startFilter()">Filter Orders</button>
					<div ng-show="filterApplied" class="animate_show" style="display: flex">
						
						<select ng-model="$parent.item_name" ng-change="changeItemFilter()" ng-options="item.label for item in items track by item.value">
							<option value="">Choose Item</option>
						</select>
					</div>
				</div>
			</div>
			<div id="details_content_box">
				<div id="grid_view">
					<div id="grid_view_header">
						<div class="grid_view_header_cell">
							<span>#</span>
						</div>
						<div class="grid_view_header_cell delv_cell" ng-if="isAdmin">
							<span>Station</span>
						</div>
						<div class="grid_view_header_cell table_cell">
							<span>To</span>
						</div>
						<div class="grid_view_header_cell time_cell">
							<span>Time</span>
						</div>
						<div class="grid_view_header_cell status_cell">
							<span>Status</span>
						</div>
						<div class="grid_view_header_cell bill_cell">
							<span>Bill</span>
						</div>
						<div class="grid_view_header_cell paymt_cell">
							<span>Payment</span>
						</div>
						<!--<div class="grid_view_header_cell delv_cell">
							<span>Delivered</span>
						</div>-->
						<div class="grid_view_header_cell action_cell">
							<span ng-show="!{{isAdmin}}">Edit</span>
							<span ng-show="{{isAdmin}}">View</span>
						</div>
					</div>
					
					<div id="details_content_box"><div id="loader"></div>
					<div  style="max-height: 250px; overflow-y:auto">
					<div class="grid_view_content" data-ng-repeat="order in orders" class="animate_repeat" data-ng-class="{pending_order: order.status == 'Pending', progress_order: order.status == 'In Progress', delivered_order: order.status == 'Delivered', NYP_order: order.status == 'NYP' }">
						<div class="grid_view_content_cell">
							<span>{{$index +1}}</span>
						</div>
						<div class="grid_view_content_cell  delv_cell" ng-if="isAdmin">
							<span>{{::order.station}}</span>
						</div>
						<div class="grid_view_content_cell table_cell" ng-click="check($index)">
							<span>{{::order.to}}</span>
						</div>
						<div class="grid_view_content_cell time_cell">
							<span>{{::order.time | date: 'dd/MM/yyyy'}}</span><!-- filter not working -->
						</div>
						<div class="grid_view_content_cell status_cell">
							<span class="status_val">{{::order.status}}</span>
						</div>
						<div class="grid_view_content_cell  bill_cell">
							<span>{{::order.bill}}</span>
						</div>
						<div class="grid_view_content_cell  paymt_cell">
							<span>{{::order.payment}}</span>
						</div>
						<!--<div class="grid_view_content_cell  delv_cell">
							<span>{{::order.delvstatus}}</span>
						</div>-->
						<div class="grid_view_content_cell  action_cell">
							<span>
								<a ng-show="!{{isAdmin}} && order.status != 'NYP'" href="#!edit_order/{{order.ordNo}}"><i class="fa fa-edit"></i></a>
								<a ng-show="!{{isAdmin}} && order.status == 'NYP'" href="#!view_order/{{order.ordNo}}"><i class="fa fa-eye"></i></a>
								<a ng-show="{{isAdmin}}" href="#!view_order/{{order.ordNo}}"><div><i class="fa fa-eye"></i></div></a>
							</span>
						</div>
					</div>
					<div id="no_items_container"  class="grid_view_content animate_show" ng-show="showNoItems"><span style="color: red">There are no Orders at this time, try adding an order <!--<span><i class="fa fa-times-circle-o"></i></span>--></span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
