<div id="view_content">
	<div id="details_link_box">
		<a href="#">Add Order</a>
	</div>
	<div id="details_box">	
		<div id="details_header_box">
			<h3>Manage Orders</h3>
		</div>
		<div id="details_content_box">
			<!--<table>
				<thead>
					<th>#</th>
					<th>Table</th>
					<th>Time</th>
					<th>Status</th>
					<th>Bill</th>
					<th>Payment</th>
					<th>Delivered</th>
					<th>Edit</th>
				</thead>
				<tr class="grid_view_content">
					<td>1</td>
					<td>Table 2</td>
					<td>11:00 AM</td>
					<td>Pending</td>
					<td>14,0000</td>
					<td>0</td>
					<td>No</td>
					<td><i class="fa fa-edit"></i></td>
				</tr>
				<tr class="grid_view_content">
					<td>2</td>
					<td>Table 1</td>
					<td>11:20 AM</td>
					<td>Pending</td>
					<td>13,0000</td>
					<td>0</td>
					<td>No</td>
					<td><i class="fa fa-edit"></i></td>
				</tr>
			</table>-->
			<div id="grid_view">
				<div id="grid_view_header">
					<div class="grid_view_header_cell">
						<span>#</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Table</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Time</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Status</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Bill</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Payment</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Delivered</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Edit</span>
					</div>
				</div>
				
				<div id="grid_view_content">
					<div class="grid_view_content_cell">
						<span>1</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Table 2</span>
					</div>
					<div class="grid_view_content_cell">
						<span>11:00 AM</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Pending</span>
					</div>
					<div class="grid_view_content_cell">
						<span>14,000</span>
					</div>
					<div class="grid_view_content_cell">
						<span>0</span>
					</div>
					<div class="grid_view_content_cell">
						<span>No</span>
					</div>
					<div class="grid_view_content_cell">
						<span><i class="fa fa-edit"></i></span>
					</div>
				</div>
				
				<div id="grid_view_content">
					<div class="grid_view_content_cell">
						<span>2</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Table 3</span>
					</div>
					<div class="grid_view_content_cell">
						<span>10:00 AM</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Pending</span>
					</div>
					<div class="grid_view_content_cell">
						<span>13,000</span>
					</div>
					<div class="grid_view_content_cell">
						<span>0</span>
					</div>
					<div class="grid_view_content_cell">
						<span>No</span>
					</div>
					<div class="grid_view_content_cell">
						<span><i class="fa fa-edit"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>