<div id="content_banner_box">
	<h2 id="banner">Orders</h2>
</div>
	
<div id="sub_content_box" data-ng-controller="ordersCtlr">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!create_order">Add Order</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Manage Orders</h3>
			</div>
			<div id="details_content_box">
				<div id="grid_view">
					<div id="grid_view_header">
						<div class="grid_view_header_cell">
							<span>#</span>
						</div>
						<div class="grid_view_header_cell delv_cell">
							<span>Station</span>
						</div>
						<div class="grid_view_header_cell table_cell">
							<span>To</span>
						</div>
						<div class="grid_view_header_cell time_cell">
							<span>Time</span>
						</div>
						<div class="grid_view_header_cell status_cell">
							<span>Status</span>
						</div>
						<div class="grid_view_header_cell bill_cell">
							<span>Bill</span>
						</div>
						<div class="grid_view_header_cell paymt_cell">
							<span>Payment</span>
						</div>
						<!--<div class="grid_view_header_cell delv_cell">
							<span>Delivered</span>
						</div>-->
						<div class="grid_view_header_cell action_cell">
							<span>Edit</span>
						</div>
					</div>
					
					<div id="grid_view_content" data-ng-repeat="order in orders" class="animate_repeat" data-ng-style="{'background-color':(order.status == 'Pending') ? 'red' : ''}">
						<div class="grid_view_content_cell">
							<span>{{$index +1}}</span>
						</div>
						<div class="grid_view_content_cell  delv_cell">
							<span>{{::order.station}}</span>
						</div>
						<div class="grid_view_content_cell table_cell" ng-click="check($index)">
							<span>{{::order.to}}</span>
						</div>
						<div class="grid_view_content_cell time_cell">
							<span>{{::order.time | date: 'dd/MM/yyyy'}}</span><!-- filter not working -->
						</div>
						<div class="grid_view_content_cell status_cell">
							<span class="status_val">{{::order.status}}</span>
						</div>
						<div class="grid_view_content_cell  bill_cell">
							<span>{{::order.bill}}</span>
						</div>
						<div class="grid_view_content_cell  paymt_cell">
							<span>{{::order.payment}}</span>
						</div>
						<!--<div class="grid_view_content_cell  delv_cell">
							<span>{{::order.delvstatus}}</span>
						</div>-->
						<div class="grid_view_content_cell  action_cell">
							<span><a href="#!edit_order/{{order.ordNo}}"><i class="fa fa-edit"></i></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>