<div id="content_banner_box">
	<h2 id="banner">Orders</h2>
</div>
	
<div id="sub_content_box" data-ng-controller="order_paymentsCtlr">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!orders">Manage Orders</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Order Payments</h3>
			</div>
			<div id="details_content_box">
				<form id="details_form" name="_form" novalidate>
					<div id="form_header">
						<div>
							<a href="#!new_payment/{{::ordNo}}" class="pymt_btn animate_show" data-ng-show="!isFullyPaid">Add Payment</a>
						</div>
						
						<div style="display: flex; gap: 0.5em">
							<div id="payment_bill">
								<span>Bill: {{::bill}}</span>
							</div>
							<div id="payment_bill">
								<span>Paid: {{::paid}}</span>
							</div>
							<div id="payment_bill">
								<span>Bal: {{::bal}}</span>
							</div>
						</div>
						<div>
							<input type="button" class="cancel_btn" value="Cancel" onclick="history.back()"/>
						</div>
					</div>
					<div id="form_content">
						<div id="grid_view">
							<div id="grid_view_header">
								<div class="grid_view_header_cell">
									<span>#</span>
								</div>
								<div class="grid_view_header_cell pymt_amt_cell">
									<span>Amount</span>
								</div>
								<div class="grid_view_header_cell pymt_typ_cell">
									<span>Method</span>
								</div>
								<div class="grid_view_header_cell pymt_date_cell">
									<span>Date</span>
								</div>
								<div class="grid_view_header_cell action_cell">
									<span>Edit</span>
								</div>
							</div>
							
							<div id="grid_view_content" data-ng-repeat="payment in payments" class="animate_repeat">
								<div class="grid_view_content_cell">
									<span>{{$index+1}}</span>
								</div>
								<div class="grid_view_content_cell pymt_amt_cell">
									<span>{{::payment.amount}}</span>
								</div>
								<div class="grid_view_content_cell pymt_typ_cell">
									<span>{{::payment.method}}</span>
								</div>
								<div class="grid_view_content_cell pymt_date_cell">
									<span>{{::payment.date | date: 'dd/MM/yyyy'}}</span>
								</div>
								<div class="grid_view_content_cell action_cell">
									<span><a href="#!edit_ordpayment/{{::payment.paymtID}}"><i class="fa fa-edit"></a></i></span>
								</div>
							</div>
							
							<!--
							<div id="grid_view_content">
								<div class="grid_view_content_cell">
									<span>2</span>
								</div>
								<div class="grid_view_content_cell pymt_amt_cell">
									<span>4,000</span>
								</div>
								<div class="grid_view_content_cell pymt_typ_cell">
									<span>Cash</span>
								</div>
								<div class="grid_view_content_cell pymt_date_cell">
									<span>12/11/2022 10:00 AM</span>
								</div>
								<div class="grid_view_content_cell action_cell">
									<span><i class="fa fa-edit"></i></span>
								</div>
							</div>
							-->
							<div id="grid_view_footer">
								<span>Total</span><span>{{getGrandTotal}}</span>
							</div>
						</div>
					</div>
					<!--<div id="form_footer">
						<div>
							<input type="button" class="save_btn" value="Save" />
							<input type="button" class="cancel_btn" value="Cancel" />
						</div>
					</div>-->
				</form>
			</div>
		</div>
	</div>
</div>