<div id="content_banner_box">
	<h2 id="banner">Products</h2>
</div>
	
<div id="sub_content_box">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!create_product">Add Product</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Manage Products</h3>
			</div>
			<div id="details_content_box">
				<div style="margin: 20px 0 5px 0">
					<label>Show By:</label>
					<select class="select_box" style="width: 11em">
						<option>Choose Category</option>
						<option>Drinks</option>
						<option>Eats</option>
					</select>
					<input type="text" placeholder="Search product..." class="txt_box" style="width:12em; float:right"/>
				</div>
				<div id="grid_view">
					<div id="grid_view_header">
						<div class="grid_view_header_cell">
							<span>ID</span>
						</div>
						<div class="grid_view_header_cell pdt_cell">
							<span>Description</span>
						</div>
						<div class="grid_view_header_cell" style="flex-grow: 1">
							<span>Category</span>
						</div>
						<div class="grid_view_header_cell" style="flex-grow: 2">
							<span>Min Stock Level</span>
						</div>
						<div class="grid_view_header_cell" style="flex-grow: 1">
							<span>Status</span>
						</div>
						<!--<div class="grid_view_header_cell">
							<span>Payment</span>
						</div>
						<div class="grid_view_header_cell delv_cell">
							<span>Delivered</span>
						</div>-->
						<div class="grid_view_header_cell action_cell">
							<span>Edit</span>
						</div>
					</div>
					
					<div id="grid_view_content" data-ng-repeat="pdt in products" class="animate_repeat" data-ng-style="{'background-color':(pdt.Status == 'Discontinued') ? 'red' : ''}">
						<div class="grid_view_content_cell">
							<span>{{::pdt.Product_No}}</span>
						</div>
						<div class="grid_view_content_cell pdt_cell">
							<span>{{::pdt.Description}}</span>
						</div>
						<div class="grid_view_content_cell" style="flex-grow: 1">
							<span>{{::pdt.Category}}</span>
						</div>
						<div class="grid_view_content_cell" style="flex-grow: 2">
							<span>{{::pdt.minstocklevel}}</span>
						</div>
						<div class="grid_view_content_cell" style="flex-grow: 1">
							<span>{{::pdt.Status}}</span>
						</div>
						<!--<div class="grid_view_content_cell  paymt_cell">
							<span>{{::pdt.payment}}</span>
						</div>
						<div class="grid_view_content_cell  delv_cell">
							<span>{{::order.delvstatus}}</span>
						</div>-->
						<div class="grid_view_content_cell  action_cell">
							<span><a href="#!edit_product/{{::pdt.Product_No}}"><i class="fa fa-edit"></i></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	