<div id="content_banner_box">
	<h2 id="banner">Report Filter</h2>
</div>
<div id="sub_content_box">
	<div id="view_content">
		<div id="details_box">
			<div id="details_header_box">
				<h3>Generate Report...</h3>
			</div>
			<div id="details_content_box"><div id="loader" style="display:none"></div>
				<form id="details_form" name="report_filter_form" class="animate_show" ng-hide="hideForm" novalidate>
					
					<div>
						<div class="form_input_row">
							<label style="width: initial">Station:</label>
							<select class="select_box" name="station" ng-model="station" ng-change="changeStation()" required >
								<option value="">Choose Station...</option>
								<option value="Reception">Reception</option>
								<option value="Restaurant">Restaurant</option>
								<option value="Bar">Bar</option>
								<option value="All">All</option>
							</select>
						</div>
						<div class="form_input_row">
							<label style="width: 10em; text-align: left">Report Category:</label>
							<select class="select_box" name="category" ng-model="rep_cat" ng-change="changeCategory()" required >
								<option value="">Choose Report Category...</option>
								<!--<option value="General">General</option>-->
								<option value="amounts">Item Amounts</option>
								<option value="quantities">Item Quantities</option>
								<option value="monitoring" ng-if="showRepCat">Items Monitoring</option>
								<option value="accountabilities" ng-if="showRepCat">Accountabilities</option>
							</select>
						</div>
					</div>
					
					<div ng-if="showItemQtyFilter_sec" class="animate_if">
						<div ng-if="showFields" class="animate_if" style="margin-bottom:9px">
							<fieldset>
								<legend>Choose fields for report</legend>
								<div style="margin-bottom:9px">
									<input class="check" type="checkbox" name="rep_cols" id="reqs" value="requisitions"/>
									<label for="reqs" class="check_label">Requisitions</label>
								</div>
								<div style="margin-bottom:9px">
									<input class="check" type="checkbox" name="rep_cols" id="orders" value="orders"/>
									<label for="orders" class="check_label">Orders</label>
								</div>
								<div style="margin-bottom:9px">
									<input class="check" type="checkbox" name="rep_cols" id="offers" value="offers"/>
									<label for="offers" class="check_label">Offers</label>
								</div>
								<div style="margin-bottom:9px">
									<input class="check" type="checkbox" name="rep_cols" id="spoilt" value="spoilt"/>
									<label for="spoilt" class="check_label">Spoilt</label>
								</div>
							</fieldset>
						</div>
						
						<div ng-if="showType" class="animate_if" style="margin-bottom:9px">
							<fieldset>
								<legend>Choose Filter Type</legend>
								<div style="margin-bottom:9px">
									<input class="check filter_type" type="checkbox" name="filter_type" id="period" value="period" ng-click="clickPeriod($event)" checked />
									<label for="period" class="check_label">By Current Period</label>
								</div>
								<div style="margin-bottom:9px">
									<input class="check filter_type" type="checkbox" name="filter_type" id="date" value="_date" ng-model="$parent.$parent.date" ng-change="changeDateFilter()"/>
									<label for="date" class="check_label">By Date</label>
								</div>
								<div style="margin-bottom:9px">
									<input class="check filter_type" type="checkbox" name="filter_type" id="item_cat" value="item_cat" ng-model="$parent.$parent.item_cat" ng-change="changeItemCatFilter()"/>
									<label for="item_cat" class="check_label">By Item Category</label>
								</div>
								<div style="margin-bottom:9px">
									<input class="check filter_type" type="checkbox" name="filter_type" id="item_name" value="item_name" ng-model="$parent.$parent.item_name_filter" ng-change="changeItemFilter()"/>
									<label for="item_name" class="check_label">By Item Name</label>
								</div>
							</fieldset>
						</div>
						
						<div ng-if="showDate" class="animate_if">
							<div class="form_input_row">
								<label style="width: 10em; text-align: left">From:</label><input type="date" name="from_date" class="txt_box" ng-model="$parent.$parent.fro_date" ng-blur="checkToDate()"/>
								<label style="width: 10em; text-align: left">Period</label><input type="time" name="from_period" class="txt_box" ng-model="$parent.from_period">
								<!--<select name="from_period" ng-model="$parent.from_period">
									<option value="">Choose Period...</option>
									<option value="19:00:00">Night</option>
									<option value="07:00:00">Day</option>
								</select>-->
							</div>
							<div class="form_input_row">
								<label style="width: 10em; text-align: left">To:</label><input type="date" name="to_date" class="txt_box" ng-model="$parent.$parent.to_date" ng-blur="checkFromDate()"/>
								<label style="width: 10em; text-align: left">Period</label><input type="time" name="to_period" class="txt_box" ng-model="$parent.to_period">
								<!--<select name="to_period" ng-model="$parent.to_period">
									<option value="">Choose Period...</option>
								  	<option value="19:00:00">Night</option>
									<option value="07:00:00">Day</option>
								</select>-->
							</div>
						</div>
						
						<div ng-if="showItem" class="animate_if">
							<div class="form_input_row">
								<label style="width: initial">Items:</label>
								<select class="select_box" name="item_name" data-ng-options="item.label for item in items track by item.value" ng-model="$parent.$parent.item_name" >
									<option value="">Choose Item...</option>
									<!--<option value="date">By Date</option>
									<option value="item">By Item</option>-->
								</select>
							</div>
						</div>
					</div>
					
					<!--<div ng-if="showFields_amounts" class="animate_if" style="margin-bottom:9px">
						<fieldset>
							<legend>Choose report fields</legend>
							<div style="margin-bottom:9px">
								<input class="check" type="checkbox" name="rep_cols" id="reqs" value="requisitions"/>
								<label for="reqs" class="check_label">Requisitions</label>
							</div>
							<div style="margin-bottom:9px">
								<input class="check" type="checkbox" name="rep_cols" id="orders" value="orders"/>
								<label for="orders" class="check_label">Orders</label>
							</div>
						</fieldset>
					</div>-->
						
					
					<div ng-if="showItemAmountsDate" class="animate_if">
						<div class="form_input_row">
							<label style="width: 10em; text-align: left">Report Date:</label><input type="date" name="amounts_date" class="txt_box" ng-model="$parent.amounts_date" ng-blur="checkAmountsDate()"/>
							<!--<label style="width: initial">Period</label>
							<select name="from_period" ng-model="$parent.from_period">
								<option value="">Choose Period...</option>
								<option value="19:00:00">Night</option>
								<option value="07:00:00">Day</option>
							</select>-->  
						</div>
					</div>
					
					<div ng-if="showItemCategory" class="animate_if">
						<div class="form_input_row">
							<label style="width: 10em; text-align: left">Items Category:</label>
							<select class="select_box" name="item_cat" ng-model="$parent.item_cat" >
								<option value="">Choose Category...</option>
								<option value="Drinks">Drinks</option>
								<option value="Eats">Eats</option>
							</select>
						</div>
					</div>
					
					<div ng-if="showItemAcc_sec" class="animate_if">
						<div class="form_input_row">
							<label style="width: 10em; text-align: left">Date Filter:</label>
							<select class="select_box" name="item_acc_date_filter" ng-model="$parent.item_acc_date_filter" ng-change="changeAccDateFilter()">
								<option value="">Choose Filter...</option>
								<option value="monthly">Monthly</option>
								<option value="range">Date Range</option>
							</select>
						</div>
						
						<div ng-if="showAccMonthlyFilter" calss="animate_if">
							<div class="form_input_row">
								<label style="width: 10em; text-align: left">Year:</label>
								<select class="select_box" name="item_acc_date_filter_year" ng-model="$parent.$parent.item_acc_date_filter_year" >
									<option value="">Choose Year...</option>
									<option value="2022">2022</option>
									<option value="2023">2023</option>
								</select>
							</div>
							
							<div class="form_input_row">
								<label style="width: 10em; text-align: left">Month:</label>
								<select class="select_box" name="item_acc_date_filter_month" ng-model="$parent.$parent.item_acc_date_filter_month" >
									<option value="">Choose Month...</option>
									<option value="01">January</option>
									<option value="02">Febuary</option>
									<option value="03">March</option>
									<option value="04">April</option>
									<option value="05">May</option>
									<option value="06">June</option>
									<option value="07">July</option>
									<option value="08">August</option>
									<option value="09">September</option>
									<option value="10">October</option>
									<option value="11">November</option>
									<option value="12">December</option>
								</select>
							</div>
						</div>
						
						<div ng-if="showAccDateRangeFilter" class="animate_if">
							<div class="form_input_row">
								<label style="width: 10em; text-align: left"">From:</label><input type="date" name="from_date" class="txt_box" ng-model="$parent.$parent.fro_date" ng-blur="checkToDate()"/>
								<label style="width: initial">Period</label><input type="time" name="from_period" class="txt_box">
								<!--<select name="from_period" ng-model="$parent.from_period">
									<option value="">Choose Period...</option>
									<option value="19:00:00">Night</option>
									<option value="07:00:00">Day</option>
								</select>-->
							</div>
							<div class="form_input_row">
								<label style="width: 10em; text-align: left"">To:</label><input type="date" name="to_date" class="txt_box" ng-model="$parent.$parent.to_date" ng-blur="checkFromDate()"/>
								<!--<label style="width: initial">Period</label>
								<select name="to_period" ng-model="$parent.to_period">
									<option value="">Choose Period...</option>
								  	<option value="19:00:00">Night</option>
									<option value="07:00:00">Day</option>
								</select>-->
							</div>
						</div>			
					</div>
										
					<div id="form_footer" ng-if="report_filter_form.$valid" class="animate_if">
						<div>
							<input type="button" class="save_btn" value="Done" ng-click="validate()"/>
							<div><a id="rep_res_link" href="#!report_result" hidden></a></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
