<div id="content_banner_box">
	<h2 id="banner">Requisitions</h2>
</div>
	
<div id="sub_content_box">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!create_requisition">Request Items</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Manage Requisitions</h3>
			</div>
			<div id="details_content_box">
				<div id="grid_view">
					<div id="grid_view_header">
						<div class="grid_view_header_cell">
							<span>#</span>
						</div>
						<div class="grid_view_header_cell">
							<span>Time</span>
						</div>
						<div class="grid_view_header_cell">
							<span>For</span>
						</div>
						<div class="grid_view_header_cell">
							<span>Station</span>
						</div>
						<div class="grid_view_header_cell">
							<span>Status</span>
						</div>
						<div class="grid_view_header_cell">
							<span>Staff</span>
						</div>
						<div class="grid_view_header_cell">
							<span>Amount</span>
						</div>
						<div class="grid_view_header_cell  action_cell">
							<span>Action</span>
						</div>
					</div>
					<div id="details_content_box"><div id="loader"></div>
					<div  style="max-height: 200px; overflow-y:auto">
					<div class="grid_view_content" data-ng-repeat="requisition in requisitions" class="animate_repeat">
						<div class="grid_view_content_cell">
							<span>{{$index+1}}</span>
						</div>
						<div class="grid_view_content_cell">
							<span>{{::requisition._date}}</span>
						</div>
						<div class="grid_view_content_cell">
							<span>{{::requisition.category}}</span>
						</div>
						<div class="grid_view_content_cell">
							<span>{{::requisition.station}}</span>
						</div>
						<div class="grid_view_content_cell">
							<span>{{::requisition.status}}</span>
						</div>
						<div class="grid_view_content_cell">
							<span>{{::requisition.staff}}</span>
						</div>
						<div class="grid_view_content_cell">
							<span>{{::requisition.amount}}</span>
						</div>
						<div class="grid_view_content_cell action_cell">
							<span>
								<a ng-show="!{{activeStation}} && requisition.status == 'Approved'" href="" class="animate_show">
									<i ng-class="{'fa fa-ban':!{{activeStation}} && requisition.status == 'Approved', 'fa fa-check-circle':!{{activeStation}} && requisition.status == 'Submitted', 'fa fa-download':{{activeStation}} && requisition.status == 'Approved', 'fa fa-edit':{{activeStation}} && requisition.status == 'Submitted' }"></i>
								</a>
								<a ng-show="!{{activeStation}} && requisition.status == 'Submitted'" href="#!approve_requisition/{{requisition.reqNo}}/{{requisition.type}}/{{requisition.category}}" class="animate_show">
									<i ng-class="{'fa fa-ban':!{{activeStation}} && requisition.status == 'Approved', 'fa fa-check-circle':!{{activeStation}} && requisition.status == 'Submitted', 'fa fa-download':{{activeStation}} && requisition.status == 'Approved', 'fa fa-edit':{{activeStation}} && requisition.status == 'Submitted' }"></i>
								</a>
								<a ng-show="{{activeStation}} && requisition.status == 'Approved'" href="#!recieve_items/{{requisition.reqNo}}/{{requisition.type}}/{{requisition.category}}" class="animate_show">
									<i ng-class="{'fa fa-ban':!{{activeStation}} && requisition.status == 'Approved', 'fa fa-check-circle':!{{activeStation}} && requisition.status == 'Submitted', 'fa fa-download':{{activeStation}} && requisition.status == 'Approved', 'fa fa-edit':{{activeStation}} && requisition.status == 'Submitted' }"></i>
								</a>
								<a ng-show="{{activeStation}} && requisition.status == 'Submitted'" href="#!edit_requisition/{{requisition.reqNo}}/{{requisition.type}}" class="animate_show">
									<i ng-class="{'fa fa-ban':!{{activeStation}} && requisition.status == 'Approved', 'fa fa-check-circle':!{{activeStation}} && requisition.status == 'Submitted', 'fa fa-download':{{activeStation}} && requisition.status == 'Approved', 'fa fa-edit':{{activeStation}} && requisition.status == 'Submitted' }"></i>
								</a>
							</span>
						</div>
					</div></div>
					<div id="no_items_container"  class="grid_view_content animate_show" ng-show="showNoItems"><span id="no_items_span">No pending Requisitions <span><i class="fa fa-check-circle"></i></span></span></div>
				</div>
			</div>
		</div>
	</div>
</div>
