<div id="view_content">
	<div id="details_link_box">
		<a href="#">Request Items</a>
	</div>
	<div id="details_box">	
		<div id="details_header_box">
			<h3>Manage Requisitions</h3>
		</div>
		<div id="details_content_box">
			<div id="grid_view">
				<div id="grid_view_header">
					<div class="grid_view_header_cell">
						<span>#</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Date</span>
					</div>
					<div class="grid_view_header_cell">
						<span>For</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Station</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Status</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Staff</span>
					</div>
					<div class="grid_view_header_cell">
						<span>Amount</span>
					</div>
					<div class="grid_view_header_cell  action_cell">
						<span>Edit</span>
					</div>
				</div>
				
				<div id="grid_view_content">
					<div class="grid_view_content_cell">
						<span>1</span>
					</div>
					<div class="grid_view_content_cell">
						<span>11/11/2022</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Eats</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Restaurant</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Pending</span>
					</div>
					<div class="grid_view_content_cell">
						<span>John</span>
					</div>
					<div class="grid_view_content_cell">
						<span>119,000</span>
					</div>
					<div class="grid_view_content_cell action_cell">
						<span><i class="fa fa-edit"></i></span>
					</div>
				</div>
				
				<div id="grid_view_content">
					<div class="grid_view_content_cell">
						<span>2</span>
					</div>
					<div class="grid_view_content_cell">
						<span>12/11/2022</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Drinks</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Hall</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Submitted</span>
					</div>
					<div class="grid_view_content_cell">
						<span>Mary</span>
					</div>
					<div class="grid_view_content_cell">
						<span>0</span>
					</div>
					<div class="grid_view_content_cell action_cell">
						<span><i class="fa fa-edit"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>