<div id="content_banner_box">
	<h2 id="banner">Tables</h2>
</div>
	
<div id="sub_content_box" data-ng-controller="tablesCtlr">
	<div id="view_content">
		<div id="details_link_box">
			<a href="#!create_table">Add Table</a>
		</div>
		<div id="details_box">	
			<div id="details_header_box">
				<h3>Manage Tables</h3>
			</div>
			<div id="details_content_box">
				<div style="margin: 20px 0 5px 0">
					<label>Show By:</label>
					<select class="select_box" style="width: 11em">
						<option>Choose Location</option>
						<option>Restaurant</option>
						<option>Garden</option>
						<option>Hall</option>
					</select>
					<input type="text" placeholder="Search table..." class="txt_box" style="width:12em; float:right"/>
				</div>
				<div id="grid_view">
					<div id="grid_view_header">
						<div class="grid_view_header_cell">
							<span>ID</span>
						</div>
						<div class="grid_view_header_cell pdt_cell">
							<span>Description</span>
						</div>
						<div class="grid_view_header_cell" style="flex-grow: 1">
							<span>Capacity</span>
						</div>
						<div class="grid_view_header_cell" style="flex-grow: 1">
							<span>Location</span>
						</div>
						<div class="grid_view_header_cell" style="flex-grow: 1">
							<span>Status</span>
						</div>
						<!--<div class="grid_view_header_cell">
							<span>Payment</span>
						</div>
						<div class="grid_view_header_cell delv_cell">
							<span>Delivered</span>
						</div>-->
						<div class="grid_view_header_cell action_cell">
							<span>Edit</span>
						</div>
					</div>	
					<div id="grid_view_content" data-ng-repeat="table in tables" data-ng-style="{'background-color':(table.Status == 'Out of Use') ? 'red' : ''}">
						<div class="grid_view_content_cell">
							<span>{{::table.Table_ID}}</span>
						</div>
						<div class="grid_view_content_cell pdt_cell">
							<span>{{::table.Description}}</span>
						</div>
						<div class="grid_view_content_cell" style="flex-grow: 1">
							<span>{{::table.Capacity}}</span>
						</div>
						<div class="grid_view_content_cell" style="flex-grow: 1">
							<span>{{::table.Location}}</span>
						</div>
						<div class="grid_view_content_cell" style="flex-grow: 1">
							<span>{{::table.Status}}</span>
						</div>
						<!--<div class="grid_view_content_cell  paymt_cell">
							<span>{{::pdt.payment}}</span>
						</div>
						<div class="grid_view_content_cell  delv_cell">
							<span>{{::order.delvstatus}}</span>
						</div>-->
						<div class="grid_view_content_cell  action_cell">
							<span><a href="#!edit_table/{{::table.Table_ID}}"><i class="fa fa-edit"></i></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>