/* Universal form styling */
form{
	font-family: helvetica, sans-serif;
	font-size: 1.12em;
}

label{
	color: steelblue;
	letter-spacing: 0.025em;
	width: 50%;
	text-align: right;
	margin-right: 3px;
	padding: 6px 0; /* Used to vertically align label text in center */

}

.check_label{
	color: initial;
	font-size: initial;
	text-align: left;
}

fieldset{
	border-radius: 3px;
}

legend{
	color: steelblue;
}

.form_input_col{
	display: flex;
	flex-direction: column;
}

.form_input_row{
	margin-bottom: 12px;
	display: flex;
}

#form_header .form_input_row{
	margin-bottom: 2px;
}


.txt_box, .select_box{
	padding: 0.5em 0.2em;
	outline: none;
	letter-spacing: 0.05em;
	/*float: right;*/
	background-color: #fff;
	border-style: solid;
	border-radius: 3px;
	border-color: #ccc;
	width: 100%
	
}

.btn_row{
	width: fit-content;
	margin:auto;
	margin-top: 10px;
}

.save_btn{
	padding: 5px 7px;
	border: 1px solid #000;
	background-color: rgb(51,204,51);
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	
}

.cancel_btn{
	padding: 5px 7px;
	border: 1px solid #000;
	background-color: red;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
}

.num_field{
	text-align: center;
}

.curr_field{
	text-align: right;
}
/**
	>>> Styling login form begins <<<

**/
#login_form{
	display: flex;
	flex-direction:column;
	justify-content:center;
	/*align-items:center;*/
	
}

#login_form #response_box{
	width:fit-content;
	color: darkred
}

.login_btn input[type="button"]{
	padding: 5px 7px;
	border: 1px solid #fff;
	border-radius: 3px;
	background-color: darkblue;
	color: #fff;
}

/**
	>>> Styling Orders, Requisition & Payment edit/add table form begins <<<

**/
#details_form{
	margin-top: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	background-color: #d0d0d0;
	display: flex;
	flex-direction:column
}

#response_box{
	width: 50%;
	height: 2em;
	margin:  auto;
	padding: 8px;
	border-radius: 3px;
	margin-bottom: 10px;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
	text-align: center;
	color: #fff;
	font-family: "Calibri" , sans-serif;
	letter-spacing: 0.03em;
	transition: height 2s, padding 2s ease-in-out;
}

#response_box.fade_away_el{
	padding: 0;
	height: 0px;
}

.form_error_note{
	color: red; 
	margin-bottom: 0;
}

/*.response_box_error{
	background-color: red;
}

.response_box_success{
	background-color: green;
}*/

#form_header{
	margin-bottom: 10px;
	display: flex;
	justify-content:  space-between;
}


.pymt_btn, .editorder_btn{
	background-color: #ddd;
	padding: 3px 10px;
	border: 1px solid rgb(244,117,13);
	border-radius: 3px;
	color: rgb(244,117,13);
	letter-spacing: 0.05em;
	font-family: "Trebuchet MS", sans-serif;
}

.pymt_btn:hover, .editorder_btn:hover{
	background-image: linear-gradient(orange,rgb(244,117,13));
	color: #ffffff;
	border-color: #ffffff;
	cursor: pointer;
}

/*#order_status{
	width: 8em;
	height: 8em;
	transition: width 1s, height 1s, transform 1s;
}

#order_status:hover{
	transform: scale(1.03,1.03);
}*/

@keyframes pulsate{
	0%{outline: none;}
	50%{background-color: rgba(255, 5, 5, 0.8);}
	100%{background-color: rgba(244, 12, 12, 0.55); outline: solid rgba(204, 51, 51, 0.15); font-size: 1.2em;}
}

#order_status p {
	border-radius: 3px;
	margin: 0 auto;
	text-align: center;
	padding: 12px;
	width: fit-content;
	color: #ffffff;
	animation: pulsate 1s infinite;
}

#order_time_label{
	width: fit-content;
	margin:  auto;
	text-decoration: underline 2px;
	letter-spacing: 0.03em;
	color: slategrey;
}

#order_time{
	color: slategrey;
	font-size: 3em;
	font-weight: 500;
}

#order_time.order_time_warning{
	color: orange;
}

@keyframes order_critical{
	0%{font-size: 3em;}
	50%{font-size: 3.2em;}
	100%{font-size: 3.4em;}
}

#order_time.order_time_critical{
	color: red;
	animation: order_critical 1s infinite;
}

.deliver_btn_box button{
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-left: 5.5em;
	cursor: pointer;
	border: 1px solid rgb(244,117,13);
	border-radius: 4px;
	letter-spacing: 0.04em;
	color: rgb(244,117,13);
}

#payment_bill{
	padding: .25em 1em;
	border: 1px solid rgb(244,117,13);
	color: darkblue;
	font-size: 1.1em;
}

#form_content #grid_view_header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:  space-between
}

#form_content #grid_view_content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content:  space-between;
	background-color: whitesmoke;
}

.item_deleted{
	background-image: radial-gradient(papayawhip 40%,rgb(255,0,0));
}

#grid_view_content input, #grid_view_content select{
	font-size: .75em;
	
}

#grid_view_content pdt_cell{
	display: inline-flex;
}


/*.animate_repeat.ng-move, .animate_repeat.ng-enter, .animate_repeat.ng-leave{
	transition: all linear 0.5s;
}

.animate_repeat.ng-leave.ng-leave-active, .animate_repeat.ng-enter, .animate_repeat.ng-move{
	opacity: 0;
	//max-height: 0;
}

.animate_repeat.ng-leave, .animate_repeat.ng-enter.ng-enter-active, .animate_repeat.ng-move.ng-move-active{
	opacity: 1;
	
}*/


.pdt_cell span{
	width: 100%
}

.pdt_cell{
	flex-grow: 3
}
.qty_cell{
	flex-grow: 1
}

.rate_cell{
	flex-grow: 2
}

.total_cell{
	flex-grow: 2
}

.action_cell{
	width: 4em
}

.qty_input{
	width: 100%;
	text-align: center
}

.rate_input{
	width: 100%;
	text-align: right;
}

.total_input{
  width: 100%;
	text-align: right;
}

.pymt_amt_cell{
	flex-grow: 1;
}

.pymt_typ_cell{
	flex-grow: 2
}

.pymt_date_cell{
	flex-grow: 3
}
#form_footer{
	padding: 7px 5px;
}

#form_footer input:last-child{
	float: right;
}

/**
	>>> Payment Form Styling begins <<<

**/

#pymnt_form_content{
	display: flex;
	gap: 1em;
	margin-bottom: 10px;
	margin-top: 10px;
}

.labels, .inputs{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content:space-between;
}

.col75, .col25{
	margin-bottom: 3px
}

/**
	>>> Product Form Styling begins <<<

**/
/*#pdt_form_content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}*/

.row{
	display: flex;
	flex-direction: colomn; 
	margin-bottom: 7px
}

.col25{
	text-align: left;
}

.left-panel .col75{
	width: 62%
}

.left-panel, .right-panel{
	width: 48%;
	float: left;
	/*display: flex;
	flex-direction: column;*/
}

.left-panel{
	margin-right: 4%
}
/*#pdt_form_content input, #pdt_form_content select{
	width: 50%;
}

#pdt_form_content label{
	width: 20em;
}*/

.item_sold_check_box{
	text-align: center;
	font-size: 0.75em;
	padding: 5px;
	margin-bottom: 10px;
}

.item_sold_check_box label{
	color: crimson;
	
}



/**
	>>> Form Validation Styling begins <<<

**/

#details_form input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
	outline: solid rgba(244, 5, 5, 0.6);
}