*{
	box-sizing: border-box;
}
body{
	box-sizing: border-box;
	font-size: 100%;
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/*background-image: linear-gradient(270deg, #e7e7e0, #fff);
	background-color: #e7e7e0;*/
	margin-top: 2px;
}

a:link, a:visited{
	text-decoration: none;
	color: inherit;
}

/**
	>>> Styling the Login page layout begins <<<

**/

#login_box{
	border: 1px solid;
	width: fit-content;
	margin: auto;
	padding: 30px;
	margin-top: 15%;
	border-radius: 2px;
	background-image: linear-gradient(150deg,rgb(244,117,13), #ffffff);
	height: 15.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}


/**
	>>> Styling the app Page layout begins <<<

**/

ul{
	margin: 0;
	list-style-type:none;
	padding: 0;
}

#app_container{
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 80%;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 20px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Styling the modal */

#editModal{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	/*border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;*/
	/*z-index: 50;*/
	background-color: #ddd;
	/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: slideInTop 0.4s;*/
	/*transition: all 0.5s ease-in-out;*/
	
}

.modal-content{
	z-index: 50;
	position: absolute;
	background-color: #fefefe;
	width: 50%;
	margin: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: slideInTop 0.4s;
}

@keyframes slideInTop{
	from{top: -25%; opacity: 0}
	to{top: 0; opacity: 1}
}
	
.modal_close_btn{
	float: right;
	color: #fff;
}

#header_content_box{
	border-bottom: 1px solid #e8e7e7;
	border-radius: 3px;
	background-color: #ccc;
	padding: 7px;
	width: 90%;
	margin:  auto;
	margin-top: 5px;
	margin-bottom: 15px;
	position: sticky;
	top: 1px
	
}

#header_box>h1{
	text-align: center;
	font-family: Verdana, sans-serif;
	letter-spacing: 0.09em;
	font-size: 2.3em;
	margin-bottom: none;
}

#user_box{
	position: absolute;
	top: 4px;
	right: 1%;
	padding: 5px;
	color: darkblue;
}

#user_welcome{
	padding: 5px;
}

.user_chevron{
	margin-left: 5px;
	color: rgba(244,117,13, 0.9);
	font-size: 20px;
	margin: 1px solid red;
	
}

.user_chevron:hover{
	cursor: pointer;
}

#user_lnks_box{
	border: 1px solid white;
	background-color: rgb(244,117,13);
	display: none
	
}

.user_lnks_lst a:link, .user_lnks_lst a:visited{
	text-decoration: none;
	display: block;
	padding: 2px 5px;
	color: darkblue;
	
}

.user_lnks_lst:first-child{
	background-image: linear-gradient(180deg, rgb(244,117,13), white);
}

.user_lnks_lst a:hover, .user_lnks_lst a:active{
	text-decoration: underline;
	color: #ffffff;
}

#top_nav_bar_box{
	border: 1px solid #f2f2f2;
	width: 75%;
	overflow: hidden;
	margin: auto;
	margin-bottom: 3px;
	text-align: center;
	background-color: rgb(244,117,13);
}

#nav_lnk_box{
	display: flex;
	justify-content: space-around;
}

.nav_lnks_lst {
	padding: 12px 0.1em;

}

.active_nav_link {
	border-bottom: 3px solid darkblue;
	
}

.active_nav_link a{
	color: #fff !important;
}

.nav_lnks_lst a:link, .nav_lnks_lst a:visited{
	text-decoration: none;
	padding: 12px 1.3em;
	color: darkblue;
	font-size: 1.2rem;
	font-family: Calibri, sans-serif;
	
}

.nav_lnks_lst a:hover, .nav_lnks_lst a:active{
	color: #ffffff;
	text-decoration:underline;
}

#main_content_box{
	margin-top: 20px;
	
}

#content_banner_box{
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 90%;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 3px;
	padding: 3px 0 3px 12px;
	background-color: #ccc
}

#banner{
	margin: 0;
	letter-spacing: 0.05em;
	font-family: Verdana, sans-serif;
	font-weight: 500;
	color: rgb(244,117,13)
}

#sub_content_box{
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 90%;
	margin: auto;
	margin-bottom: 2px;
	padding: 3px 12px 12px 12px;
	background-color: #ccc
}

/** 
	>>> Styling the loader begins <<<

**/

#loader{
	position:absolute;
	left: 50%;
	width: 2em;
	height: 2em;
	border: 6px solid darkblue;
	border-radius: 50%;
	/*border-top: 6px solid rgb(244,117,13);/*#3498db*/
	border-bottom: 6px solid rgb(244,117,13);/*#3498db*/
	animation: spin 2s linear infinite;
}

@keyframes spin{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}


/** 
	>>> Home view styling begins <<<

**/
#analysis_box{
	margin-top: 10px;
}

.analysis_small_box{
	border-radius: 3px;
	width: fit-content;
	min-width: 12em;
	height: 6em;
	padding: 10px;
}

.analysis_small_box:nth-child(1){
	margin:auto;
	margin-bottom: 1.5em;
	background-image: linear-gradient(to left,gold, chocolate)
}

.analysis_small_box:nth-child(2){
	position: relative;
	float: right;
	right: 8%;
	background-image: linear-gradient(to left,orangered, crimson)
}

.analysis_small_box:nth-child(3){
	position: relative;
	left: 8%;
	background-image: linear-gradient(to left,limegreen, dimgray)
}

.analysis_small_box_header{
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 1.4em;
	letter-spacing: 0.02em;
	font-family: Calibri, sans-serif;
	text-decoration: underline;
	color:whitesmoke;
}

.analysis_figure{
	font-size: 2em;
	font-weight: 600;
	font-family: "Segoe UI"
}

.analysis_link_arrow{
	position: relative;
	float: right;
	top: 15px;
	right: 15px;
	font-size: 1.5em;
	text-align: center;
	vertical-align: center;
	width: 1.5em;
	height: 1.4em;
}

#home_msg_box{
	border: 1px solid;
	width: 85%;
	margin:auto;
	margin-top: 10px;
	padding: 10px;
}

/** 
	>>> Other views general styling begins <<<

**/

#details_link_box{
	padding-top: 7px;
	display: flex;
	justify-content: space-between;
	
}

#details_link_box>a:link, #details_link_box>a:visited, #details_link_box>button{
	text-decoration: none;
	background-image: linear-gradient(white,#E0E0E0);
	padding: 4px 10px;
	border: 1px solid rgb(244,117,13);
	border-radius: 3px;
	color: rgb(244,117,13);
	letter-spacing: 0.05em;
	font-family: "Trebuchet MS", sans-serif;
	
}

#details_link_box>a:hover, #details_link_box>a:active, #details_link_box>button:hover{
	background-image: linear-gradient(orange,rgb(244,117,13));
	color: #ffffff;
	border-color: #ffffff;
}

#details_box{
	border: 1px solid #ddd;
	margin-top: 12px;
	padding: 10px;
}

#details_header_box>h3{
	margin: 5px 0;
	color: darkblue;
	font-family: Verdana, sans-serif;
	font-weight: 500;
}


/** 
	>>> Manage orders styling begins <<<

**/

#grid_view_header{
	background-color: darkblue;
	width: 100%;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 3px;
	display: flex;
	justify-content: space-between;
}

.grid_view_header_cell:nth-child(1){
	width: 20px;
}


.grid_view_header_cell{
	/*display: inline-block;*/
	color: #ffffff;
	width: 4.72em;
	padding: 8px;
	text-align: center;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: 0.05em;
	font-family: Arial, sans-serif;
}

.grid_view_content{
	/*background-color: red;*/
	width: 100%;
	margin-bottom: 3px;
	border: 1.5px solid #F5F5F5;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	color: #00478bab;
}

#no_items_container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0px;
}

#no_items_span{
	color: green;
}

.grid_view_content_cell{
	/*display: inline-block;*/
	width: 4.7em;
	text-align: center;
	padding: 5px 2px;
	font-size: 1.1em;
	font-family: Helvetica, sans-serif;
}

.grid_view_content_cell:nth-child(1){
	width: 20px;
	padding: 10px 0px;
}

.table_cell{
	flex-grow: 2;
}

.time_cell{
	flex-grow: 2
}

.status_cell{
	flex-grow: 1
}

.bill_cell{
	flex-grow: 0
}

.paymt_cell{
	flex-grow: 0
}

.delv_cell{
	flex-grow: 1
}

.pending_order{
	background-color: red;
}

.progress_order{
	background-color: orange;
}

.delivered_order{
	background-color: green;
	color: white;
}

#grid_view_footer{
	background-color: #e0e0e0;
	color: darkblue;
	border-top: 2px solid #ccc;
	padding: .5em 1em .5em .5em;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	justify-content:  space-between;
}

/** 
	>>> Account view styling begins <<<

**/

#ac_link_box{
	margin-top: 7px;
	
	/*height: 400px;*/
	padding: 10px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content:stretch;
	align-content: stretch;
	align-items:stretch;
}

.ac_link_row{
	display: flex;
	justify-content: space-between
}
.ac_link{
	border: 1px solid rgb(244,117,13);
	color: darkblue !important;
	padding: 5px;
	/*margin-right: 10px;*/
	margin-bottom: 10px;
	width: 9em;
}

.kit_bck_arw{
	position: absolute;
	font-size: 3em;
	cursor: pointer;
}

.kit_hme_arw{
	position: absolute;
	font-size: 3em;
	cursor: pointer;
}

@media only screen and (max-width: 1000px){
	#app_container{
		width: 90%;
		margin: auto;
		margin-top: 10px;
		padding-bottom: 20px;
	}	
	
	.kitchen_grid_view{
		height: 50px;
		line-height: 40px;
	}
	
	.grid_view_content_cell:nth-child(1){
		padding: 5px 0px;
	}
	/*.grid_cell_content span{
		vertical-align: bottom;
	}*/

}
