/* >>> Animating elements with ngView Directive <<< */
/*.animate_view.ng-enter, .animate_view.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

  display:block;
  width:100%;
  //border-left:1px solid black;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  //padding:10px;
}

.animate_view.ng-enter {
  left:100%;
}
.animate_view.ng-enter.ng-enter-active {
  left:0;
}
.animate_view.ng-leave.ng-leave-active {
  left:-100%;
}

.animate_view.ng-enter {
   opacity: 0;
	bottom:2px;
}

.animate_view.ng-leave {
  //z-index:101;
  bottom:0;
  opacity:0;
}

.animate_view.ng-enter.ng-enter-active {
  opacity: 1;
	top:0
}
.animate_view.ng-leave.ng-leave-active {
  opacity: 0;
	top:-2px;
}

*/


/* >>> Animating elements with ngRepeat Directive <<< */
.animate_repeat.ng-move, .animate_repeat.ng-enter, .animate_repeat.ng-leave{
	transition: all linear 0.5s;
}

.animate_repeat.ng-leave.ng-leave-active, .animate_repeat.ng-enter, .animate_repeat.ng-move{
	opacity: 0;
	/*max-height: 0;*/
}

.animate_repeat.ng-leave, .animate_repeat.ng-enter.ng-enter-active, .animate_repeat.ng-move.ng-move-active{
	opacity: 1;
	
}

/* >>> Animating elements with ngIf Directive <<< */
.animate_if.ng-enter, .animate_if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate_if.ng-enter,
.animate_if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate_if.ng-leave,
.animate_if.ng-enter.ng-enter-active {
  opacity:1;
}


/* >>> Animating elements with ngShow Directive <<< */
.animate_show.ng-hide {
  opacity: 0;
}

.animate_show.ng-hide-add,
.animate_show.ng-hide-remove {
  transition: all linear 0.5s;
}

/* >>> Animating elements with ngClass Directive <<< */
.animate_class{
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}